:root {
    --dark-color: #212121;
    --accent-color: #038DFF;
}


html,
body,
* {
    padding: 0;
    margin: 0;
}

/* W3C standard
   сейчас только для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--dark-color);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    // background: radial-gradient(261.98% 122.1% at 50% 122.1%, #EBF6FF 0%, #7B7D7F 44.27%, #383B3E 100%);
    color: #fff;

}

p {
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    box-sizing: content-box;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 1100px) {
        max-width: 576px;
    }

}

.section-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;

    @media screen and (max-width: 1100px) {
        font-size: 30px;
        font-weight: 800;
    }
}

.section-top {
    padding-top: 180px;

    @media screen and (max-width: 1100px) {
        padding-top: 120px;
    }
}

.btn {
    background-color: var(--accent-color);
    padding: 23px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: #fff;
    cursor: pointer;
    @media screen and (max-width: 1100px) {
        padding: 19px;
    }
}

.page-title {
    font-size: 32px;
    font-weight: 800;

    @media screen and (max-width: 1100px) {
        font-size: 30px;
        font-weight: 700;
    }

}

.page-top {
    padding-top: 135px;
    @media screen and (max-width: 1100px) {
        padding-top: 40px;
    }
}

.page-bottom {
    padding-bottom: 120px;
}

.list-unstyle {
    list-style: none;
    padding: 0;
}

.cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

// @media screen and (max-width: 1100px)